/* number 초기화 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input {
	outline:none;
}

/* Top Content */
#div_topContent {
	width: 100%;
	box-shadow: rgb(0 0 0 / 30%) 0px 8px 8px -8px;
}
	#top_content {
		margin: 0 auto;
		width: 1100px;
		height: 80px;
	}
		/* 호텔 예약 */
		#top_content #top_left {
			display: inline-block;
			vertical-align: top;
			width: 190px;
			height: 80px;
		}
			#top_left div {
				color: var(--color-darkgray);
				font-size: 15pt;
				font-weight: bold;
				line-height: 80px;
			}
		/* 예약 단계 */
		#top_content #top_middle {
			display: inline-block;
			vertical-align: top;
			width: 700px;
			height: 80px;
		}
			#top_middle ul li {
				display: inline-block;
				/* margin-top: 20px; */
				margin-right: -5px;
				width: 234px;
				height: 60px;
				text-align: center;
			}
				#top_middle ul li .top_number {
					position: relative;
					width: 234px;
					height: 40px;
					text-align: center;
				}
					.top_number .top_line01 {
						position: absolute;
						margin-top: 10px;
						width: 117px;
						top: 50%;
						left: 50%; 
					}
					.top_number .top_line0201 {
						position: absolute;
						margin-top: 10px;
						margin-left: -117px;
						width: 106px;
						top: 50%;
						left: 50%; 
					}
					.top_number .top_line0202 {
						position: absolute;
						margin-top: 10px;
						width: 117px;
						top: 50%;
						left: 50%; 
					}
					.top_number .top_line03 {
						position: absolute;
						margin-top: 10px;
						margin-left: -117px;
						width: 110px;
						top: 50%;
						left: 50%; 
					}
					.top_number .top_lineBlue {
						border-bottom: 4px solid var(--color-blue);
					}
					.top_number .top_lineGray {
						border-bottom: 4px solid #BEC2C9;
					}
					.top_number .top_numBlue {
						position: absolute;
						margin-left: -12px;
						width: 24px;
						height: 24px;
						line-height: 22px;
						background: var(--color-blue);
						color: rgb(255, 255, 255);
						border-radius: 50%;
						top: 50%;
						left: 50%;
					}
					.top_number .top_numGray {
						position: absolute;
						margin-left: -12px;
						width: 24px;
						height: 24px;
						line-height: 22px;
						background: #BEC2C9;
						border-radius: 50%;
						top: 50%;
						left: 50%;
					}
					.top_comment {
						margin-top: 7px;
					}
						.top_Commentblue {
							color: var(--color-blue);
						}
						.top_CommentGray {
							color: #BEC2C9;
						}
					
		/* 포인트 잔액 */
		#top_content #top_right {
			display: inline-block;
			vertical-align: top;
			width: 200px;
			height: 80px;
		}
			#top_right div {
				float: right;
				margin-top: 15px;
				width: 100px;
				height: 48px;
				border-left: 1px solid #BEC2C9;
				border-right: 1px solid #BEC2C9;
				text-align: center;
			}
				#top_right div span:first-child{
					font-size: 8pt;
				}
				#top_right div input{
					margin-top: 5px;
					font-size: 15pt;
					width: 80px;
					text-align: center;
					border: none;
					color: var(--color-blue);
				}
#div_content {
	margin: 0 auto;
	margin-bottom: 150px;
	width: 800px;
	
}
	#div_content #div_compleTitle {
		margin-top: 35px;
		width: 800px;
		height: 100px;
		text-align: center;
	}
		#div_compleTitle div:nth-child(2) {
			font-size: 14pt;
			font-weight: bold;
			color: var(--color-green);
		}
	/* line */
	.div_line {
		margin: 8px 0 8px 0;
		min-width: 1px;
	    width: 800px;
	    height: 1px;
	    flex: 1 1 0%;
	    border-bottom: 1px solid rgb(221, 223, 226);
	}
	/* 호텔 정보 */
	#div_content #div_hoteContent {
		margin-top: 30px;
		border: 1px solid rgb(221, 223, 226);
   		border-radius: 3px;
	}
		/* hotelContent 상단 */
		#top_hoteContent {
			padding: 12px 7px 0 15px;
		}
		
		/* hotelContent 중간 */
		#mid_hoteContent {
			padding: 12px 7px 7px 15px;
		}
			#div_hoteContent #hotel_image {
				display: inline-block;
				vertical-align: top;
				padding: 0 7px 0 0;
				width: 130px;
			}
				#hotel_image img {
					width: 130px;
					height: 140px;
				}
			#div_hoteContent #hotel_detail {
				display: inline-block;
				vertical-align: top;
				padding: 0 0 0 0;
				width: 580px;
				color: #505050;
			}
				#hotel_detail #hotel_name {
					font-size: 15pt;
				}
				#hotel_detail #hotel_grade {
					margin-top: 7px;
				}
					.star_icon {
						/* margin: -5px; */
						margin-top: -5px;
						margin-bottom: -5px;
						margin-left: -5px;
						margin-right: -5px;
						padding: 0;
						width: 25px;
						height: 25px;
						filter: invert(73%) sepia(49%) saturate(1688%) hue-rotate(338deg) brightness(102%) contrast(103%);
					}
				#hotel_detail #room_name {
					margin-top: 7px;
				}
				#hotel_detail #room_view {
					margin-top: 7px;
				}
				#hotel_detail #room_bed {
					margin-top: 7px;
				}
		/* hotelContent 하단 */
		#botm_hoteContent {
			padding: 7px 7px 12px 15px;
		}
			#botm_hoteContent #botm_left {
				display: inline-block;
				vertical-align: top;
				width: 280px;
			}
				.botm_left_top {
					font-size: 11pt;
					color: #505050;
				}
				.botm_left_mid {
					margin-top: 3px;
					font-size: 12pt;
				}
				.botm_left_botm {
					margin-top: 3px;
					color: #505050;
					font-size: 11pt;
				}
			#botm_hoteContent #botm_center {
				display: inline-block;
				vertical-align: top;
				padding: 18px 0 18px 0;
				width: 200px;
				text-align: center;
			}
				#botm_center div {
					margin: 0 auto;
					width: 50px;
					height: 25px;
					font-size: 11pt;
					line-height: 25px;
					color: #505050;
					background-color: lightgray;
					border-radius: 15px;
				}
			#botm_hoteContent #botm_right {
				display: inline-block;
				vertical-align: top;
				width: 280px;
				text-align: right;
			}
	/* 예약자 정보 */
	#div_content #div_member {
		margin-top: 20px;
		border: 1px solid rgb(221, 223, 226);
   		border-radius: 3px;
	}
		/* title */
		#div_member #member_title {
			padding: 15px 0 15px 15px;
		}
			#member_title span:first-child {
				margin-right: 5px;
				color: var(--color-blue);
				font-size: 14pt;
			}
			#member_title span:last-child {
				color: var(--color-darkgray);
				font-size: 13pt;
				font-weight: bold;
			}
		/* 예약자 정보 */
		#div_member #member_info {
			padding: 0 0 5px 15px;
		}
			#member_info .input_title {
				width: 727px;
				padding: 5px 0 5px 0;
			}
				#member_info .input_title div {
					display: inline-block;
					width: 360px;
				}
					.input_title div span:first-child{
						color: var(--color-darkgray);
					}
					.input_title div span:last-child{
						margin-left: 3px;
						color: var(--color-red);
					}
				
			#member_info .input_context {
				margin-bottom: 15px;
				padding: 5px 0 5px 0;
				width: 727px;
				color: var(--color-darkgray);
			}
				#member_info .input_context div {
					display: inline-block;
					width: 360px;
				}
					.input_context div input {
						padding: 8px;
						width: 335px;
						border: 1px solid var(--color-green);
					    font-weight: 400;
					    line-height: 22px;
					    border-radius: 3px;
					    color: var(--color-darkgray);
					    background-color: rgb(248, 247, 249);
					    outline:none;
					}
					.input_context div input[name=nation] {
						background-color: white;
					}
		/* 다른 투숙객 */
		#div_member #div_difPerson {
			margin: 0 0 20px 15px;
			width: 715px;
			height: 240px;
			background-color: rgb(248, 247, 249);
			/* display: none; */
		}	
			/* title */
			#div_difPerson #person_title {
				padding: 15px 0 15px 15px;
			}
				#person_title span {
					color: var(--color-darkgray);
					font-size: 13pt;
				}
			/* 투숙객 정보 */
			#div_difPerson #person_info {
				padding: 0 0 5px 15px;
			}
				#person_info .pers_input_title {
					width: 700px;
					padding: 5px 0 5px 0;
				}
					#person_info .pers_input_title div {
						display: inline-block;
						width: 345px;
					}
						.pers_input_title div span:first-child{
							color: var(--color-darkgray);
						}
						.pers_input_title div span:last-child{
							margin-left: 3px;
							color: var(--color-red);
						}
					
				#person_info .pers_input_context {
					margin-bottom: 15px;
					padding: 5px 0 5px 0;
					width: 700px;
					color: var(--color-darkgray);
				}
					#person_info .pers_input_context div {
						display: inline-block;
						width: 345px;
					}
						.pers_input_context div input {
							padding: 8px;
							width: 320px;
							border: 1px solid rgb(206, 208, 212);
						    font-weight: 400;
						    line-height: 22px;
						    border-radius: 3px;
						    outline:none;
						}
	
	/* 예약요금 */
	#div_content #div_booking {
		margin-top: 20px;
		border: 1px solid rgb(221, 223, 226);
   		border-radius: 3px;
   		color: var(--color-darkgray);
	}
		/* 왼쪽 영역 */
		#div_booking #booking_left {
			display: inline-block;
			vertical-align: top;
			width: 550px;
			border-right: 1px solid rgb(221, 223, 226);
		}
			/* 예약 요금 title */
			#div_booking #div_bookingTitle {
				margin-bottom: 20px;
				/* background-color: #f9f9f9; */
			}
				#div_bookingTitle span {
					margin-left: -2px;
					padding: 2px 10px 4px 10px;
					background-color: var(--color-green);
					color: var(--color-white);
					font-weight: bold;
				}
			/* 요금 내역 */
			#booking_left {
				/* padding: 10px 0 20px 15px; */
			}
				#booking_left .booking_fee {
					padding: 0 0 0 15px;
					margin-top: 5px;
					font-size: 10.5pt;
				}
					.booking_fee div {
						display: inline-block;
					}
					.booking_fee div:first-child {
						width: 430px;
					}
					.booking_fee .fee_fee {
						color: var(--color-red);
					}
						.booking_fee div:last-child {
							color: var(--color-red);
						}
							.booking_fee div input {
								width: 65px;
								text-align: right;
								font-size: 10.5pt;
								font-weight: bold;
								border: none;
								color: var(--color-red);
							}
				/* line */
				.div_line02 {
					margin: 8px 0 8px 0;
					min-width: 1px;
				    width: 550px;
				    height: 1px;
				    flex: 1 1 0%;
				    border-bottom: 1px solid rgb(221, 223, 226);
				}
				#booking_left #div_totalPrice {
					padding: 0 0 10px 15px;
					font-size: 11pt;
					font-weight: bold;
					color: var(--color-darkgray);
				}
					#div_totalPrice div {
						display: inline-block;
					}
						#div_totalPrice div:first-child {
							width: 413px;
						}
						#div_totalPrice div:last-child {
							color: var(--color-red);
						}
						#div_totalPrice div input {
							width: 81px;
							text-align: right;
							font-size: 12pt;
							font-weight: bold;
							border: none;
							color: var(--color-red);
						}
		/* 오른쪽 영역 */
		#div_booking #booking_right {
			display: inline-block;
			vertical-align: top;
			width: 230px;
		}
			#booking_right button {
				margin: 10px 0 0 10px;
				padding: 5px 10px;
				color: var(--color-white);
				background-color: var(--color-blue);
				border: none;
				border-radius: 3px;
			}
	
	
				
				
				