/* 상단 content */
#top_content {
	width: 100%;
	height: 50px;
	color: #FFFFFF;
	background-color: #20274D;
	text-align: center;
	line-height: 50px;
}

/* search_content (상단 검색바) */
.search_content {
	display: none;
	position: fixed;
}

/* body_content header,nav,footer 제외한 전체 */
#body_content {

}
	/* 검색BOX 상단 image */
	#main_image {
		position: absolute;
		width: 100%;
		height: 420px;
		background-image: url(../image/main_bg.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	/* 검색BOX */
	#main_section {
		position: relative;
		margin: 0 auto;
		width: 1200px;
		height: 740px;
	}
		/* TextBox */
		#main_title p {
			margin: 0;
			padding: 0;
			padding-top: 10px;
			font-size: 14pt;
			color: white;
			text-align: center;
		}
		#main_title p:first-child {
			padding-top: 60px;
			font-size: 20pt;
			font-weight: bold;
		}
		#main_title p:last-child {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		/* iconBox */
		#div_icon {
			position: absolute;
			margin: 0 auto;
			margin-top: 30px;
			width: 1064px;
			height: 108px;
			left: 5.5%;
			background-color: white;
			border-radius: 5px;
			box-shadow: 0px 0px 10px #606060;
			text-align: center;
		}
			#div_icon ul {
				display: inline-block;
			}
				#div_icon ul li {
					float: left;
					width: 220px;
					height: 108px;
				}	
					#div_icon ul li button {
						margin-top: 10px;
						height: 98px;
						background: inherit;
						border:none;
					}
					#div_icon ul li:nth-child(1) button {
						margin-top: 14px;
						height: 94px;
						color: var(--color-blue);
						border-bottom: 4px solid var(--color-blue);
					}
						#div_icon button div:last-child{
							padding-top: 5px;
						}
							#div_icon .icon_image {
								margin: 0 auto;
								width: 40px;
								height: 40px;
							}
							#div_icon .icon_text {
								font-weight: bold;
							}
							
		/* 검색조건Box */
		.main_div_searching {
			margin: 0 auto;
			width: 1124px;
			height: 430px;
		}
		.main_div_searching:nth-child(5) {
			
		}
			#div_search {
				margin: 0 auto;
				margin-top: 100px;
				padding-top: 70px;
				width: 1124px;
				height: 380px;
				background-color: #F8F7F9;
				border-radius: 20px;
				box-shadow: 0px 0px 10px #606060;
				text-align: center;
			}
			.main_div_searching:nth-child(3) #div_search {	/* 호텔 searchBox */
				height: 300px;
			}
			.main_div_searching:nth-child(4) #div_search {	/* 캠핑 searchBox */
				height: 370px;
			}
			.main_div_searching:nth-child(5) #div_search {	/* 액티비티 searchBox */
				height: 210px;
			}
			
			/* main search 중 호텔 국가, 지역 */
			.search_top {
				clear: left;
				margin: 0 auto;
				margin-top: 10px;
				width: 1000px;
				height: 65px;
			}
				/* main search 중 호텔 국가 */
				.search_hotel_nation {
					display: inline-block;
					margin-right: 7px;
					width: 493px;
					height: 65px;
					background-color: white;
					border: 1px solid #DDDFE2;
					border-radius: 10px;
				}
					.search_hotel_icon {
						margin-top: 17px;
						margin-left: 10px;
						float: left;
						width: 30px;
						height: 30px;
					}
					.search_hotel_select {
						float: left;
						margin-top: 22px;
						margin-left: 15px;
						width: 400px;
						height: 20px;
						border: none;
						border-radius: 5px;
						font-size: 12pt;
					}
					.search_hotel_select:focus {
						outline: none;
					}
				/* main search 중 호텔 국가 */
				.search_hotel_location {
					display: inline-block;
					width: 493px;
					height: 65px;
					background-color: white;
					border: 1px solid #DDDFE2;
					border-radius: 10px;
				}
			#search_middle {
				display: inline-block;
				margin-top: 15px;
			}
				/* main icon,input */
				.search_main_icon {
					margin-top: 18px;
					margin-left: 10px;
					float: left;
					width: 30px;
					height: 30px;
				}
				.search_main_input {
					float: left;
					margin-top: 23px;
					margin-left: 5px;
					height: 20px;
					border: none;
					border-radius: 5px;
					font-size: 12pt;
				}
				.search_main_input:focus {
					outline: none;
				}
				.search_main_date {
					float: left;
					margin-left: 15px;
					padding: 23px 0 17px 0;
					width: 270px;
					/* height: 62px; */
					border: none;
					border-radius: 5px;
					font-size: 12pt;
				}
				.search_main_date:focus {
					outline: none;
				}
					/* 체크인일자 */
					#checkIn_sec {
						clear: left;
						float: left;
						width: 330px;
						height: 65px;
						border-right: 1px solid #DDDFE2;
						background-color: white;
						border: 1px solid #DDDFE2;
						border-radius: 10px 0 0 10px;
					}
						#main_chkIn_input {
							width: 250px;
						}
					/* 체크아웃일자 */
					#chechOut_sec {
						float: left;
						width: 330px;
						height: 65px;
						background-color: white;
						border: 1px solid #DDDFE2;
						border-radius: 0 10px 10px 0;
					}
						#main_chkOut_input {
							width: 250px;
						}
					/* 인원수 */
					#people_sec {
						float: left;
						margin-left: 10px;
						width: 327px;
						height: 65px;
						background-color: white;
						border: 1px solid #DDDFE2;
						border-radius: 10px;
					}
					#main_people_input {
						width: 250px;
					}
				
			/* 렌터카 종류 */
			#car_kind {
				margin-top: -25px;
				display: inline-block;
			}
				#car_kind #car_kind_sec {
					width: 1000px;
					height: 65px;
					border-radius: 10px;
				}
					#car_kind #car_kind_sec div {
						display: inline-block;
						margin-right: 100px;
					}
					#car_kind #car_kind_sec div:last-child {
						margin-right: 0px;
					}
						#car_kind #car_kind_sec div input {
							display:none;
						}
						#car_kind #car_kind_sec div label {
							cursor: pointer;
						}
						#car_kind #car_kind_sec div input:checked + label {
							filter: invert(55%) sepia(89%) saturate(2542%) hue-rotate(197deg) brightness(98%) contrast(98%);
						}
							#car_kind #car_kind_sec div label img {
								width: 66px;
								height: 66px;
							}
				
			/* 장소: 검색어 */
			#search_sec {
				clear: left;
				margin: 0 auto;
				margin-top: 10px;
				width: 1000px;
				height: 65px;
				background-color: white;
				border: 1px solid #DDDFE2;
				border-radius: 10px;
			}
					#main_place_input {
						width: 900px;
					}
			/* main search 중 렌터카 지역 */
			.car_search_top {
				clear: left;
				margin: 0 auto;
				margin-top: 20px;
				width: 1000px;
				height: 65px;
			}
				.search_car_nation {
					display: inline-block;
					margin-right: 7px;
					width: 493px;
					height: 65px;
					background-color: white;
					border: 1px solid #DDDFE2;
					border-radius: 10px;
				}
					.search_car_icon {
						margin-top: 17px;
						margin-left: 10px;
						float: left;
						width: 30px;
						height: 30px;
					}
					.search_car_select {
						float: left;
						margin-top: 22px;
						margin-left: 15px;
						width: 400px;
						height: 20px;
						border: none;
						border-radius: 5px;
						font-size: 12pt;
					}
					.search_car_select:focus {
						outline: none;
					}
				/* main search 중 렌터카 지역 */
				.search_car_location {
					display: inline-block;
					width: 493px;
					height: 65px;
					background-color: white;
					border: 1px solid #DDDFE2;
					border-radius: 10px;
				}
			
			/* 체크인일자 */
			#car_checkIn_sec {
				clear: left;
				float: left;
				width: 331px;
				height: 65px;
				border-right: 1px solid #DDDFE2;
				background-color: white;
				border: 1px solid #DDDFE2;
				border-radius: 10px 0 0 10px;
			}
				.search_car_date {
					float: left;
					margin-left: 15px;
					padding: 23px 0 17px 0;
					width: 270px;
					/* height: 62px; */
					border: none;
					border-radius: 5px;
					font-size: 12pt;
				}
				.search_car_date:focus {
					outline: none;
				}
			/* 대여일시 */
			#car_inTime_sec {
				float: left;
				width: 162px;
				height: 65px;
				border-right: 1px solid #DDDFE2;
				background-color: white;
				border: 1px solid #DDDFE2;
				border-radius: 0 10px 10px 0;
			}
				.fa-clock {
					margin-top: 22px;
					margin-right: 27px;
					font-size: 20px;
				}
				.search_time_select {
					float: left;
					margin-top: 22px;
					margin-left: 30px;
					width: 70px;
					height: 20px;
					border: none;
					border-radius: 5px;
					font-size: 12pt;
					cursor: pointer;
				}
				.search_time_select:focus {
					outline: none;
				}
			/* 체크아웃일자 */
			#car_chechOut_sec {
				float: left;
				margin-left: 10px;
				width: 331px;
				height: 65px;
				background-color: white;
				border: 1px solid #DDDFE2;
				border-radius: 10px 0 0 10px;
			}
			/* 반납일시 */
			#car_outTime_sec {
				float: left;
				width: 162px;
				height: 65px;
				border-right: 1px solid #DDDFE2;
				background-color: white;
				border: 1px solid #DDDFE2;
				border-radius: 0 10px 10px 0;
			}
			
				
						
			
			
					
					
					
			/* 검색 버튼 */
			#div_btn_search {
				margin-top: -35px;
				position: absolute;
				width: 490px;
				height: 75px;
				left: 30%;
				
			}
				#div_btn_search input {
					width: 490px;
					height: 75px;
					font-size: 13pt;
					color: #FFFFFF;
					background-color: #5392F9;
					border-radius: 5px;
					border: none;
					border-radius: 5px;
					box-shadow: 0px 0px 3px #606060;
					cursor: pointer;
				}
/* 화살표 */
#arrow_down {
	height: 150px;
}
	#arrow_down div:first-child {
		margin: 0 auto;
		text-align: center;
		height: 50px;
		width: 300px;
	}
		#arrow_down div:first-child h1 {
			margin: 0;
			padding: 0;
		}
			.arrow {
				margin: 0 auto;
				bottom: 0;
				width: 40px;
				height: 60px;
				/*change with size of arrow to make sit on bottom */
				/*   background-image: url(); */
				/*   background-size: contain; */
			}
				.arrow i {
					margin-top: 10px;
					display: block;
					color: black;
				}
			.bounce {
				-moz-animation: bounce 2s infinite;
				-webkit-animation: bounce 2s infinite;
				animation: bounce 2s infinite;
			}
/* bounce 효과*/
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	-moz-transform: translateY(0);
	transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
		}
}	

/* Slider */
.slick-slide {
    margin: 0px 20px;
}
.container {
	margin-top: 50px;
}
.container p {
	margin-bottom: 30px;
  	font-size: 15pt;
	font-weight: bold;
	text-align: center;
}
.slick-slide img {
    width: 100%;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow {
       z-index: 10;
       width: 50px;
       height: 50px;
       background: rgba($bk, 0.2);
       border-radius: 50%;
       transition: background 0.5s;
       &:hover {
           background: rgba($pt, 0.9);

           &::before {
               color: rgba($bk, 0.5);
           }
       }
       &::before {
           font-family: 'Line Awesome Free';
           font-weight: 900;
           font-size: 49px;
           transition: all 0.5s;
       }
   }
   .slick-prev {
       left: 30px;

       &::before {
           content: "\f137";
       }
   }
   .slick-next {
       right: 30px;

       &::before {
           content: "\f138";
       }
   }
   .slide img {
   	border-radius: 100px;
   }

/* Container */
#container{
	margin: 0 auto;
	margin-top: 50px;
	width: 100%;
	height: 1300px;
}
/*collabo 시작*/
#div_collabo_total{
	margin: 0 auto;
	margin-top: 200px;
	margin-bottom: 100px;
	width: 100%;
	height: 550px;
}
/*collabo 왼쪽*/
#div_collabo_left{
	width: 30%;
	height: 550px;
	float: left;
	position: relative;
}
	#div_collabo_left_top{
		width: 100%;
		height: 497px;
		border-top: 3px solid #997f6a;
	}
		#div_collabo_left_top_div{
			width: 100%;
			height: 100px;
			position: relative;
		}
			#div_collabo_left_top_head{
				width: 54.5%;
				height: 100%;
				bottom: 53px;
				padding-left: 10px;
				right: 0;
				position: absolute;
				background-color: #FFFFFF;
			}
				#div_collabo_title{
					margin-top: -5.5px;
					font-size: 24pt;
					font-weight: 600;
					color: #997f6a;
				}
			#div_collabo_left_top_body{
				width: 100%;
				height: 400px;
			}
				#div_brown{
					width: 80%;
					height: 400px;
					bottom: 0;
					background-color: #b39579;
					position: absolute;
				}
					#div_brown_content{
						width: 100%;
						height: 150px;
						color: white;
						font-size: 12pt;
						padding-left: 40px;
						padding-top: 110px;
					}
					#div_collabo_left_pic{
						width: 50%;
						float: right;
						padding-top: 130px;
						position: relative;
					}
						#div_collabo_left_pic img{
							width: 100%;
							height: 200px;
							overflow: hidden;
						}
	#div_collabo_left_bottom{
		width: 100%;
		height: 70px;
		position: relative;
		background-color: white;
	}
/*collabo 중간*/
#div_collabo_center{
	width: 33%;
	height: 550px;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
}
	#div_collabo_center_top{
		width: 100%;
		height: 500px;
	}
		#div_collabo_center_top img{
			width: 100%;
			height: 500px;
			overflow: hidden;
		}
		#div_collabo_center_top img:hover{
			opacity: 0.5;
			transition-duration: 0.3s;
		}

	#div_collabo_center_bottom{
		width: 100%;
		height: 50px;
		position: absolute;
	}
		#div_collabo_center_bottom span{
			line-height: 55px;
		}
		#div_collabo_center_bottom span:first-child{
			font-weight: bold;
			font-size: 13pt;
		}
		#div_collabo_center_bottom span:last-child{
			font-size: 10pt;
			color: #000;
		}
/*collabo 오른쪽*/
#div_collabo_right{
	width: 37%;
	height: 550px;
	float: left;
}
	#div_collabo_right_top{
		width: 100%;
		height: 500px;
		margin: 0 auto;
		background-color: #b39579;
	}
		#div_collabo_right_top_video{
			width: 100%;
			padding-top: 50px;					
			overflow: hidden;
		}
	#div_collabo_right_bottom{
		/* width: 100%; */
		height: 50px;
		position: absolute;
	}
		#div_collabo_right_bottom span{
			line-height: 55px;
		}
		#div_collabo_right_bottom span:first-child{
			font-weight: bold;
			font-size: 13pt;
		}
		#div_collabo_right_bottom span:last-child{
			font-size: 10pt;
			color: #000;
		}

/*hcam 시작*/
#section_hcam_total{
	width: 100%;
	height: 550px;
	clear: left;
}
/*hcam 사진*/
	#section_hcam_imgcontent_total{
		margin: 0 auto;
		width: 1700px;
		height: 600px;
	}
	#section_hcam_title{
		width: 400px;
		height: 10px;
		padding: 20px;
	}
	#section_hcam_title div{
		font-size: 20pt;
	}
	.section_hcam_imgcontent{
		margin-right: 20px;
		width: 400px;
		height: 550px;
		padding: 10px;
		float: left;
	}
		.section_hcam_img{
			width: 400px;
			height: 450px;
			float: left;
			overflow: hidden;
			position: absolute;
		}
			.section_hcam_img img{
				width: 400px;
				transition: all 0.4s linear;
			}
			.section_hcam_img:hover img{
				transform: scale(1.2);
			}

/*hcam 글*/
.section_hcam_content{
	width: 300px;
	height: 170px;
	float: left;
	font-size: 10pt;
	position: relative;
	margin-top: 360px;
	background-color: white;
}
.section_hcam_content_name{
	width: 300px;
	height: 20px;
	font-size: 10pt;
	padding: 5px;
	margin-top: 10px;
	color: #b39579;
}
.section_hcam_content_sort{
	width: 300px;
	height: 20px;
	font-size: 12pt;
	padding: 5px;
	font-weight: bold;
}
.section_hcam_content_txt{
	width: 300px;
	height: 40px;
	font-size: 11pt;
	padding: 5px;
}
.section_hcam_content_rsv{
	width: 300px;
	height: 20px;
	font-size: 9pt;
	padding-left: 5px;
	color: #999;
}
.section_hcam_content_stay{
	width: 300px;
	height: 20px;
	font-size: 9pt;
	padding-left: 5px;
	color: #999;
}

/* Top 버튼 */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #5392F9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}		
#myBtn:hover {
  background-color: #555;
}

.div_hidden {
	display: none;
}