@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');

#div_content {
	margin: 0 auto;
	margin-bottom: 100px;
	width: 1100px;
}
	/* 왼쪽 영역 */
	#div_content #left_content {
		display: inline-block;
		vertical-align: top;
		width: 245px;
	}
		.left_tab_tit {
			padding-top:20px;
		}
		.left_tab_tit::after {
			content:''; 
			display:block; 
			clear:both;
		}
			.left_tab_tit li {
				padding-left: 10px;
				width: 240px;
				height: 50px;
				line-height: 50px; 
				cursor:pointer;
				
			}
			.left_tab_tit li::after {
				float: right;
				content:''; 
				display:none;
				height: 100%;
				border-right: 3px solid var(--color-blue);
			}
			.left_tab_tit li.on {
				background: linear-gradient(90deg,#f8f7f9,#fff)
			}
			.left_tab_tit li.on::after {
				display:block;
				background-color: black;
			}
				.left_tab_tit .left_tab_icon {
					font-size: 12pt;
					color: var(--color-blue);
				}
				.left_tab_tit .left_tab_title {
					font-size: 12pt;
					color: var(--color-blue);
				}
	
	/* 오른쪽 영역 */
	#div_content #right_content {
		display: inline-block;
		vertical-align: top;
		width: 850px;
	}
		#right_content .right_inner {
			margin: 20px 0 20px 20px;
		}
			.right_top {
				width: 800px;
				height: 70px;
			}
				.right_top div:nth-child(1) {
					line-height: 40px;
					text-align: center;
					font-weight: bold;
					font-size: 14pt;
					color: var(--color-darkgray);
				}
				.right_top div:nth-child(2) {
					text-align: center;
					font-weight: bold;
					color: var(--color-darkgray);
				}
			.right_pdCombo {
				width: 830px;
				height: 50px;
			}
				.right_pdCombo span {
					float: right;
					padding: 5px 20px;
				}
				.right_pdCombo select {
					float: right;
					width: 70px;
					height: 30px;
					text-align: center;
				}
				 #columnchart_material {
				 	margin-left: 20px;
				 }
				 #circlechart_age {
				 	display: inline-block;
				 }
				 #circlechart_gender {
				 	display: inline-block;
				 }
				 #regionChart_material {
				 	margin-top: 20px;
				 }
			
					
					
					
					
					
					
					