<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="abcd">
	<select id="selSa" resultType="vo.HcamMemDTO">
		select * from hcamMem;
	</select>
	
	<insert id="insSa" parameterType="vo.HcamMemDTO">
		insert into HcamMem(pnt_no, memg_kubun, mem_id, mem_pw,mem_name,mem_email,mem_nation,mem_phone,mem_post,mem_addr,mem_addrdtl) 
		values(1,'mem',#{mem_id},#{mem_pw},#{mem_name},'asdf','asdf','asdf','asdf','asdf','asdf');
	</insert>
	
	<select id="myPageHtlBooking" parameterType="int" resultType="map">
		select htb_no
		      ,htb_brkfPrice
		      ,htb_totalPrice
		      ,htb_chkIn
			  ,htb_chkOut
		      ,date_format(htb_date, '%Y-%m-%d %H:%i') as fmt_htb_date
		      ,(case when DATE(htb_chkIn) &lt;= DATE(now()) then 'Y'
		        else 'N' end) as bookingComple
			  ,(select htl_name from hotel where htl_no = htb.htl_no) as htl_name
			  ,(select hrm_name from htlRoom where hrm_no = htb.hrm_no ) as hrm_name
		      ,(select concat(hfl_path, hfl_name) from hcamFile where hfl_kubun = 'htl' and kubun_no = htb.htl_no limit 1) file_path
		  from htlBooking htb
		 where mem_no = #{mem_no}
		 order by htb_chkIn desc;
	</select>
	
	<select id="myPageCarBooking" parameterType="int" resultType="map">
		select cbk_no
			  ,cbk_rlpCarPrice
		      ,cbk_totalPrice
		      ,cbk_chkInDate
		      ,cbk_chkOutDate
		      ,cbk_chkInTime
		      ,cbk_chkOutTime
		      ,DATE_FORMAT(cbk_date, '%Y-%m-%d %H:%i') as fmt_cbk_date
		      ,(case when concat(cbk_chkInDate,cbk_chkInTime) &lt;= DATE_FORMAT(NOW(), '%Y%m%d%H%i') then 'Y'
				else 'N' end) as bookingComple
			  ,(select car_name from rentAcar where car_no = cbk.car_no) as car_name
		      ,(select car_kubun from rentAcar where car_no = cbk.car_no) as car_kubun
		      ,(select car_location from rentAcar where car_no = cbk.car_no) as car_location
		      ,(select car_branch from rentAcar where car_no = cbk.car_no) as car_branch
		      ,(select car_fuelKubun from rentAcar where car_no = cbk.car_no) as car_fuelKubun
			  ,(select concat(hfl_path, hfl_name) from hcamFile where hfl_kubun = 'car' and kubun_no = cbk.car_no limit 1) file_path
		  from racBooking cbk
		 where mem_no = #{mem_no}
		 order by cbk_chkInDate desc, cbk_chkInTime desc;
	</select>
	
	<select id="myPagePointInfo" parameterType="int" resultType="map">
		select FORMAT(pnt_balance,0) as pnt_balance
			  ,(select ifnull(FORMAT(sum(phs_historyAmt),0),0) from pntHistory where pnt_no = pnt.pnt_no and phs_kind = 'PNT01001') as depo_pnt
		      ,FORMAT((select ifnull(sum(phs_historyAmt),0) from pntHistory where pnt_no = pnt.pnt_no and phs_kind = 'PNT01002') 
		        -
		       (select ifnull(sum(phs_historyAmt),0) from pntHistory where pnt_no = pnt.pnt_no and phs_kind = 'PNT01004'),0)
		      as save_pnt
		      ,FORMAT((select ifnull(sum(phs_historyAmt),0) from pntHistory where pnt_no = pnt.pnt_no and phs_kind = 'PNT01003') 
		        -
		       (select ifnull(sum(phs_historyAmt),0) from pntHistory where pnt_no = pnt.pnt_no and phs_kind = 'PNT01005'),0)
		      as use_pnt
		  from hcamPoint pnt
		 where pnt_no = #{pnt_no};
	</select>
	
	<select id="myPagePntHistory" parameterType="int" resultType="vo.PntHistoryDTO">
		select phs_kind
			  ,phs_historyAmt
		      ,phs_comment
		      ,date_format(phs_date, '%Y-%m-%d %H:%i') as phs_date
		  from pntHistory
		 where pnt_no = #{pnt_no}
		order by phs_no desc;
	</select>
	
	<select id="myPageMember" parameterType="int" resultType="vo.HcamMemDTO">
		select * from hcamMem where mem_no = #{mem_no};
	</select>
	
	<select id="carSelectBysearch" parameterType="map" resultType="vo.RentACarDTO">
		select rac.*
			  ,(select count(*) 
				  from racBooking 
				 where car_no = rac.car_no
		           and (((#{chkIn} &gt;= concat(cbk_chkInDate,cbk_chkInTime)) and #{chkIn} &lt; (concat(cbk_chkOutDate,cbk_chkOutTime)))
		                or
		                ((#{chkIn} &lt; concat(cbk_chkInDate,cbk_chkInTime)) and (#{chkOut} &gt; concat(cbk_chkInDate,cbk_chkInTime)))
		               )
				) as booking_cnt
		  from rentAcar rac
		 where car_location = #{select01}
		   and car_branch = #{select02}
		<if test = '!car_kubun01.equals("all")'>
		   and car_kubun in (#{car_kubun01}, #{car_kubun02}, #{car_kubun03}, #{car_kubun04});
		</if>
	</select>
	
	<select id="carEach" parameterType="int" resultType="vo.RentACarDTO">
		select * from rentAcar where car_no = #{car_no};
	</select>
	
	<select id="carCheckBooking" parameterType="vo.RacBookingDTO" resultType="String">
		select cbk_no from racBooking where car_no = #{car_no} and cbk_chkInDate = #{cbk_chkInDate} and cbk_chkOutDate = #{cbk_chkOutDate}
		and cbk_chkInTime = #{cbk_chkInTime} and cbk_chkOutTime = #{cbk_chkOutTime} and cbk_rentTerm = #{cbk_rentTerm};
	</select>
	
	<insert id="carInsertBooking" parameterType="vo.RacBookingDTO">
		insert into racBooking(car_no, mem_no, cbk_rlpName, cbk_rlpEmail, cbk_rlpNation, cbk_rlpPhone, cbk_chkInDate, cbk_chkOutDate, cbk_chkInTime, cbk_chkOutTime, cbk_rentTerm, cbk_rlpCarPrice, cbk_totalPrice)
		values(#{car_no}, #{mem_no}, #{cbk_rlpName}, #{cbk_rlpEmail}, #{cbk_rlpNation}, #{cbk_rlpPhone}, #{cbk_chkInDate}, #{cbk_chkOutDate}, #{cbk_chkInTime}, #{cbk_chkOutTime}, #{cbk_rentTerm}, #{cbk_rlpCarPrice}, #{cbk_totalPrice});
	</insert>
	
	<delete id="carCancelBooking" parameterType="int">
		delete from racBooking where cbk_no = #{cbk_no};
	</delete>
	
	<select id="carBookingInfo" parameterType="int" resultType="vo.RacBookingDTO">
		select cbk_no, car_no, mem_no, cbk_rlpName, cbk_rlpEmail, cbk_rlpNation, cbk_rlpPhone, cbk_chkInDate, cbk_chkOutDate
		, cbk_chkInTime, cbk_chkOutTime, cbk_rentTerm, cbk_rlpCarPrice, cbk_totalPrice, date_format(cbk_date, '%Y-%m-%d %H:%i') as cbk_date from racBooking where cbk_no = #{cbk_no};
	</select>
	
	<select id="mgrPagePeroidBooking" parameterType="map" resultType="map">
		select <if test = 'date_kubun.equals("day")'> 'day'</if>
		 		as date_kubun
			   ,kubun
		       ,date_format(booking_date, '%Y') as fmt_year
		       ,date_format(booking_date, '%m') as fmt_month
		       ,date_format(booking_date, '%m/%d') as fmt_date
		       ,cast(count(*) as char(10)) as cnt
		  from (select 'hotel' as kubun
					   ,htb_date as booking_date
				  from hotel htl
					  ,htlBooking htb
				 where htl.htl_no = htb.htl_no
				   and htl.mgr_no = #{mgr_no}
				union all
				select 'car' as kubun
					   ,cbk_date as booking_date
				  from rentAcar car
					  ,racBooking rbk
				 where car.car_no = rbk.car_no
				   and car.mgr_no = #{mgr_no}
				) as tab
		group by <if test = 'date_kubun.equals("day")'>day</if>(booking_date)
		order by booking_date
		;
	</select>
	
</mapper>
